.Checkout {
  display: flex;
  flex-direction: column-reverse;
}

.Checkout__bar__container {
  height: 6rem;
  background-color: #f3f3f3;
  display: grid;
  grid-template-columns: 8fr 3fr 5fr 3fr 8fr;
  width: 100%;
  align-items: center;
  justify-items: center;
}

.progressLine1 {
  grid-column: 1/2;
}

.Checkout__bar__progressLine {
}

.Checkout__bar__firstPoint {
  grid-column: 2/3;
  background-color: #dbdbdb;
  max-width: 30px;
  padding: 10px;
  border-radius: 999px;
}

.Checkout__bar__secondPoint {
  grid-column: 5/6;
  background-color: #dbdbdb;
  max-width: 30px;
  padding: 10px;
  border-radius: 999px;
}
